body{
background-color: darkblue;
color: rgba(101, 231, 153, 0.808);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0px;
}
h1{
color: rgb(105, 111, 196);
font-size: 40px;
}
p{
font-size: 25px;
}
header{
border-bottom:(crimson);
margin: 2px;
padding:10px;
color: darkturquoise;
}